body{
    font: 20px "cambria math"; margin: 50px;
     width: fit-content;
     border-top: 1px outset #0000001c; padding-top: 5px;
}
*{outline-color: #efefef}
button, [type=button]{font: bold 20px "courier";border-color: #efefef; cursor: pointer}
button:enabled:active, [type=button]:active{border-style: inset; outline: none}
button:focus, [type=button]:focus{outline: none;}
/*Navi*/
nav ul{
    display: flex; list-style-type: none; background: #efefef;
    width: fit-content; margin: 0 0 0px 25px; padding: 0;
    border-top: 1px solid #0000001c;
    border-bottom: 10px solid white;
}
hr{
    border-top: 1px solid #0000001c; position: relative;
    left: 5px;  width: 99%;
}
nav ul li{
    padding: 5px 10px;
    height: 23px; position: relative;
    border: 1px groove #0000001c;
    border-bottom: none; border-top: none;
    cursor: pointer;
}
/*end navi*/
/*for container & its children behaviour*/
#container{
    border-top: inherit; margin-left: -10px;
    border-left: 1px solid #0000001c;
    padding: 10px 10px;
}
#container>div{
    position: ;
    line-height: 2em
}
.encapsulator{
    position: relative;
    margin-bottom: 15px;
}
/*end container*/

/*start Equations*/

/*start addEquation*/
#ADDEQUATION select{
    background: #efefef; font-size: inherit;
    border: 1px solid #0000001c;
}
/*end addEquation*/

/*for the boards (on which equations are written)*/
.board, .cover{
    width: fit-content; border: 1px solid #0000001c;
    position: relative; background: transparent;
    padding: 10px; display: block; font-weight: bold;
}
.cover{
    background: white; z-index: -1; position: absolute;
    opacity: 0; transform: translateY(-69px);
    text-align: right; transition: opacity .5s;
    font-size: 70%;
}
.board *{
    position: relative;
}
.board::before{
    display: inline-block;
    content:'Y = '; transform: translateX(9px)
}
.board>button{
    left: 10px;
}
.board [type=number]{
    width: 50px; font-size: inherit;
    text-align: right; border: none;
    left: 15px; background: transparent; font-weight: bold;
/*     border-left: 3px double; */
}
.board [type=number]:hover, .board [type=number]:focus{
    border: 1px solid #e3e3e3; outline: none;
}
.board button:last-child{
    left: 110%; position: absolute; top: 19.4px;
}
/*end boards*/
/*end EQUATIONS*/

/*start TABLES*/
#TABLES{
    s
}
#TABLES table{
    position: relative;
    border: 1px solid #e3e3e3;
    width: fit-content;
    overflow: scroll; margin-bottom: 15px;
    padding: 5px; outline: 1px solid #9b9b9b;
}
#TABLES *{
    border: inherit;
}
#TABLES table>div{
    display: flex;
    justify-content: center;
}
#TABLES caption{
    text-align: center;
}
#TABLES [type=number]{
    width: 41px; height: 37px; text-align: center;
}
#TABLES tr{
    width: 380px; height: 55px; margin-left: 30px;
    overflow-x: scroll; display: flex; flex-wrap: wrap;
    flex-direction: column;
}
#TABLES td{
    width: fit-content; height: 30px;
    text-align: center; padding: 0 5px
}
#TABLES td:first-child{
    position: absolute; left: 2.5px; width: 30px; padding: 0;
}
#TABLES tr:last-child{
    overflow: hidden; height: 31px
}
#TABLES [type=button]{
    font: initial;
    border: 2px outset;
}
#TABLES [type=button]:enabled:active{
    border-style: inset;
}
/* #TABLES:[type=button]:e */
/*end TABLES*/