[id*='ADD'] select{
    background: #efefef; font-size: inherit;
    border: var(--b);
}
html{
    --b: 1px solid #0000001c;
}
table{
    border: var(--b);
}
tr{padding: 0;margin: 0;}
td{
    padding-right: 7px;
}
td input{
    width: 50px; height: 30px; border: none; border-bottom: var(--b);
    font-size: 100%; text-align: center;
}
.vector:before{
    content: 'Vector: ';
}
.matrix:before{
    content: 'Matrix ';
}
.HUD{
    border: var(--b);
    padding: 5px;
    width: max-content;
}
.HUD>div{
    border: inherit; margin-bottom: 10px; padding: 3px
}
.HUD span{
    border: inherit;
}
.space{
    display: flex; align-items: center;
     border: var(--b); gap: 5px;
    padding: 5px;
}
.space>select{
    font-size: 100%; background: #efefef; border: inherit;
}
.space>*{/* display: inline-block; */}
/* .HUD:before, .HUD:after{
    content: 'Rs';
    font-family: -webkit-body;
     display: block;
    transform: translate(-240px, 140px);
    font-weight: normal;
}
.HUD:after{
    content: 'Cs';
    right: 200px; top: -256px;
    transform: translate(-200px, -256px);
} */
#ADDMATRIX:backdrop{
    background: black;
}
.space>select[class]{
    transform: translate(-110px, -30px)
}
.space>.second, .space.answer{

}

div#ADDMATRIX {
    font: medium;
}

div#ADDMATRIX {}