* {
    box-sizing: border-box;
}

.PiMaker {
    display: -webkit-inline-box;
    gap: 10px;
    height: 180px;
    border: 1px solid darkgray;
    overflow: scroll;
    padding: 5px; border-bottom: none;
}

.PiMaker>* {
    width: 200px;
    height: 150px;
}

.PiMaker>table {
    overflow-y: scroll;
    display: flex;
    width: fit-content;
    font-size: .8em;
}

.PiMaker td, .PiMaker th {
    border: 1px solid #0000001c;
    padding: 0 3px;
    text-align: center;
    text-transform: capitalize;
}

.piMakersContainer {
    height: 420px;
    border-top: 2px solid #0000001c;
    padding: 6px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.root {
    line-height: 2em;
    border: 5px groove  #0000001c;
    border-top: none;
    border-left: none;
    padding: 5px;
}